/* ResponsiveOption Begins */
/* header style, to make the background color grey, padding to create space around the header, text align to center the text in the heading, font size to change the header text and color to change the header text white, source (https://www.w3schools.com/css/css_website_layout.asp) */
header {
  background-color: grey;
  padding: 20px;
  text-align: center;
  font-size: 45px;
  color: white;
}
/* Change the body background color to light yellow */
body {
  background-color: lightyellow;
}
/* Make the link to page 2 a square box, no padding around the link text, source (https://www.w3schools.com/css/css_list.asp) */
div {
  list-style-type: square;
  padding: 0;
}
/* Make the three links color grey,  position the links to the left, with 15 px of space around each link and a width of 30% to spread them evely across the page, remove the underline in the links,source (https://www.w3schools.com/cssref/pr_text_text-decoration.asp) and (https://www.w3schools.com/css/css_float_examples.asp) */
a {
  color: black;
  float: left;
  padding: 15px;
  width: 30%;
  text-decoration: none;
  border-style: solid;
  border-color: black;
  border-width: medium;
  text-align: center;
  background-color: white;
  font-weight: bold;
  font-size: large;
}
a:hover {background-color: #3e8e41}

/* Display the image at 100% width, auto height, with 5 px of space, make it a a block element and centre the image, source (https://www.w3schools.com/css/css3_images.asp) */ 
img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Make the article section position to the left, with 15 px of space around the article section, the article width 100% to take up the full screen but also makes it responsive, background color for article an off white, height 80% to cover the amount of text and makes it responsive, source (https://www.w3schools.com/css/css_float_examples.asp) */
article {
  float: left;
  padding: 15px;
  width: 100%;
  background-color: #FFFFF0;
  height: 80%;
}
/* Position the footer section to the left, width of 38% to display education and training on a text on a new line, 5 px of space around the footer section, source (https://www.w3schools.com/css/css_float_examples.asp) */
footer {
  float: left;
  width: 38%;
  padding: 5px;
  }
/* Created a class to style the first paragraph for h1 h2 h3 as black with bold text and 100% width to match the article section and to make the page it responsive, source (https://www.w3schools.com/cssref/sel_class.asp) */
.Div1 {
  color: black;
  font-weight: bold;
  width: 100%;
}
/* Make all the headings the same size h1, h2, h3, source (https://www.w3schools.com/css/css_font_size.asp) */
h3 {
  font-size: 24px;
  }
h2 {
  font-size: 24px;
  }
h1 {
  font-size: 24px;
  }
/* Created a class to style the link to Page 2 with a black background, with white text, a box the size of 10px 20px and removing the underline in the text (https://www.w3schools.com/cssref/sel_class.asp) (https://www.w3schools.com/css/css_padding.asp) */
.Link1 {
  background: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
 }
#Link2 {
  background: black;
  color: red;
  padding: 10px 20px;
  text-decoration: none;
  }
/* ResponsiveOption Ends */ 
